{% extends "AppPro/index.html" %}

{% load static %}
 
{% block title %}{{ pelicula.titulo }}{% endblock title %}
 
{% block body %}
<div style="display: flex; align-items: flex-start;">  <!-- Utilizamos flexbox para alinear en una fila -->
    <div class="card" style="width: 18rem; margin-right: 10px;">
        <div class="card-body text-center">
            <h5 class="card-title">{{ pelicula.titulo }}</h5>
            <hr>
            <img src="{{ pelicula.poster.url }}" alt="{{ pelicula.title }}" class="card-img-top">
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Comentarios Recientes</h5>
                {% if comentarios %}
                <h2>Comentarios:</h2>
                <ul>
                    {% for comentario in comentarios %}
                        <li>{{ comentario.usuario.username }}: {{ comentario.contenido }}</li>
                        <span class="timestamp">{{ comentario.fecha_creacion }}</span>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay comentarios todavía.</p>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Nuevo Comentario</h5>
        <form method="POST" action="{% url 'comentar' pelicula.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Publicar comentario</button>
        </form>
    </div>
       
     
    
</div>
{% endblock body %}
